body {
    background-color: azure;
    margin: 0;
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header, footer {
    background-color: #0A395E;
    color: azure;
    padding: 20px;
    text-align: center;
}
header{
    padding-top: 20px;
}

a {
    color: #FF6A00;
    text-decoration: none;
    margin: 0 10px;
}

a:hover {
    color: #FFD700;
}

main {
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
    main {
			max-width: 1200px;
			width: 80%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  main {
    max-width: 1000px;
		width: 85%;
  }
}

@media screen and (min-width: 767px) {
	main {
		max-width: 100%; 
		width: 100%;
	}
}

li {
  text-align: left;
}

table, th, td {
  border: 1px solid;
}
th, td {
  padding: 5px;
  text-align: left;
  padding-right: 100px;
}
table {
  margin: 10px 50px;
  border-spacing: 5px;
}


table tr:nth-child(odd) {
	background-color: darkgrey;
}

table tr:nth-child(even) {
	background-color: lightgray; 
}


table tr:nth-child(1) {
	background-color: #36454f;
	color: white; 
}